{% extends 'base.html'%} {% block content %}
<div class="row">
    <form action="{{url_for('insert_book')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="name" name="name" type="text" class="validate" required>
                <label for="name">Title</label>
            </div>
            <div class="input-field col s6">
                <input id="author" name="author" type="text" class="validate" required>
                <label for="author">Author</label>
            </div>
            <div class="input-field col s6">
                <select id="genre" name="genre_name" required>
                    <option value="" disabled selected>Genre</option>
                    {% for gen in genre %}
                        <option value="{{gen.genre_name}}">{{gen.genre_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s6">
                <input id="book_link" name="book_link" type="url" class="validate" required>
                <label for="book_link">Link</label>
            </div>
            <div class="input-field col s12">
                <textarea id="review" name="review" type="textarea" class="materialize-textarea" minlength="200" required></textarea>
                <label for="review">Review</label>
                <span class="helper-text" data-error="wrong" data-success="right">Minimum 200 letters</span>
            </div>
            <div>
                <button class="btn waves-effect waves-light center" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}