{% extends 'base.html'%} {% block content %}
<!--gör så att addedar funktion är i en materialize modall-->
<h3>Add Book</h3>
<div class="row">
    <form action="" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="book_title" name="book_title" type="text" class="validate">
                <label for="book_title">Title</label>
            </div>
            <div class="input-field col s6">
                <input id="book_author" name="book_author" type="text" class="validate">
                <label for="book_author">Author</label>
            </div>
            <!--add dropdown menu for genra-->
            <div class="input-field col s6">
                <select id="genra" name="genra_name">
                <option value="" disabled selected>Genra</option>
                <option value="1">Option 1</option>
                </select>
            </div>


            <div class="input-field col s6">
                <input id="book_isbn" name="book_isbn" type="number" class="validate">
                <label for="book_isbn">ISBN</label>
            </div>
            <div class="input-field col s12">
                <textarea id="book_review" name="book_review" type="textarea" class="materialize-textarea"></textarea>
                <label for="book_review">Review</label>
            </div>
        </div>
    </form>
</div>
{% endblock %}