<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='pictures/background.jpg')}}">
</head>
<body>
    <div class="#e3f2fd blue lighten-5">
        <header>
            <div class="navbar-fixed">        
                <nav class="#64b5f6 blue lighten-2">
                    <div class="nav-wrapper">
                        <a href="{{url_for('get_books')}}" class="brand-logo center black-text">Book Review</a>
                        <a href="#" data-target="mobile-nav" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{{url_for('get_books')}}" class="black-text">Home</a></li>
                            <li><a href="{{url_for('add_book')}}" class="black-text">Add a Book</a></li>
                            <li><a href="{{url_for('genres')}}" class="black-text">Genres</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
                <ul class="sidenav" id="mobile-nav">
                    <li><a href="{{url_for('get_books')}}">Home</a></li>
                    <li><a href="{{url_for('add_book')}}">Add a Book</a></li>
                    <li><a href="{{url_for('genres')}}">Genres</a></li>
                </ul>
        </header>
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                $('.collapsible').collapsible();
                $('select').formSelect();
                $('.sidenav').sidenav();
                $('input#input_text, textarea#textarea2').characterCounter();
                $(".dropdown-trigger").dropdown();
                $('.modal').modal();
            });
    </script>
</body>
</html>