<!---tillfälig link--->
<p><a href="{{ url_for('add_book') }}">ADDBOOK!</a></p>

{% extends 'base.html'%}
{% block content %}
  <ul class="collapsible">
    {% for book in books %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons">expand_more</i>
            <a href="{{url_for('edit_book', book_id=book._id)}}" class="waves-effect waves-light btn-small">Eddit</a>
            {{book.name}} 
            {{book.author}}
            {{book.genre_name}}
        </div>
        <div class="collapsible-body">
            <span>
                {{book.review}}
                {{book.isbn}}
            </span>
        </div>
    </li>
    {% endfor %}
  </ul>
{% endblock %}