{% extends 'base.html'%}
{% block content %}
        {% for book in books %}
            {{book.name}}
            {{book.author}}
            {{book.isbn}}
            {{book.review}}
        {% endfor %}
<!---below code copyed from materilized--->
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
<!---above code copyed from materilized--->
{% endblock %}